/* Normalize CSS */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}

#header {
    height: 10vh !important;
    position: static !important;
}

#header * {
    color: black !important;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#dashboard-area {
    height: 90vh;
    display: flex;
    border-top: 1px solid black;
}

#dashboard-nav {
    width: 20%;
    background: #2ecc71;
}

#dashboard-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto 0 auto;
    list-style: none;
    margin-top: 20px;
}

#dashboard-nav ul li:hover {
    background: #d7dbdc;
}

#dashboard-nav ul li a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#dashboard-nav ul li a > * {
    text-align: center;
}

#dashboard-nav ul li a i {
    font-size: 4em;
    color: #1abc9c;
}

#dashboard-nav ul li {
    color: white;
    text-transform: uppercase;
    width: 45%;
    margin: auto 0 auto 0;
    padding: 10px;
    cursor: pointer;
    margin: 0 auto 10px auto;
    background: #ecf0f1;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#add-member a i {
    font-size: 3em !important;
    margin: auto;
}

.dashboard-display {
    width: 80%;
    border-top: 1px solid #bdc3c7;
    background: #ecf0f1;
    display: none;
}

#dashboard-nav > h3 {
    width: 90%;
    margin: 20px auto 0 auto;
    color: #1e8248;
}

.header-user i {
    color: black;
    font-size: 3em;
}

.header-user i:hover {
    color:#e67e22;
}

.account-dropdown {
    height: 200px;
    width: 200px;
    border-radius: 3px;
    background: #ecf0f1;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    display: flex;
    position: absolute;
    width: 180px;
    top: 65px;
    right: 20px;
    transform: translateY(2em);
    -webkit-transform: translateY(2em);
    -ms-transform: translateY(2em);
    z-index: 111111;
    transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.01s;
}
.account-dropdown > p {
    background: #bdc3c7;
}
#user-section {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
#user-section ul {
    justify-content: flex-end !important;
}
.header-user a {
    display: block;
}
.dropped {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transition-delay: 0s, 0s, 0.2s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

#exit #close-reg {
    height: 100%;
}
#member-details {
    display: flex;
    flex-direction: column;
    position: relative;
}
#member-details form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

#member-details form label {
    margin-top: 20px;
}

@media only screen and (min-width: 601px) {
    .header-user:hover > .account-dropdown {
        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transition-delay: 0s, 0s, 0.2s; /* this removes the transition delay so the menu will be visible while the other styles transition */
    }
}
.stats-header {
    display: flex;
    background: #1abc9c;
    padding: 20px;
    justify-content: space-between;
    height: 20%;
}
.profileinfo {
    display: flex;
}
.refresh {
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    width: 100px;
    flex-direction: column;
}
.refresh i {
    text-align: right;
    font-size: 3em;
    color: white;
    margin: auto;
    cursor: pointer;
}
.resfresh p {
    color: white;
    margin: auto;
}
.refresh i:hover {
    color: darkorange;
}
.transitioned {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.open-reg button {
    width: 100px;
    padding: 10px;
    background: #e67e22;
    border-radius: 3px;
    margin: 20px auto;
    cursor: pointer;
}
.rotated {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
.profile-stats > * {
    color: white;
}
.profile-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.stats-main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 80%;
    overflow: auto;
}
.stat-info {
    width: 100%;
    height: 100%;
    display: flex;
}
.stat-info > * {
    margin: auto;
}
.repo-list {
    display: flex;
    flex-wrap: wrap;
}
.indiv-repo {
    width: 20%;
    height: 200px;
    display: flex;
    color: black;
    padding: 20px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.indiv-repo:nth-of-type(5n + 0) {
    border-right: 1px solid black;
}
.indiv-repo:last-child {
    border-right: 1px solid black;
}
.indiv-repo:nth-last-child(-n+5) {
    border-bottom: 1px solid black;
}
.indiv-repo > p {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}
.indiv-repo:hover {
    text-decoration: none;
    background: #ecf0f1;
}
.stat > span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    color: #95a5a6;
}
.profile-stats > span {
    display: flex;
}
.stat {
    border-radius: 4px;
    background: white;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
}
.loading-container {
    display: flex !important;
}
#loader-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
}
#loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.picked-dash {
    display: block !important;
}
.picked-nav {
    background: #d7dbdc !important;
    border: 2px solid black !important;
}
.profilepic {
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}
@media only screen and (max-width: 600px) {
    #dashboard-area {
        flex-direction: column;
    }
    #dashboard-nav {
        width: 100%;
    }
    #dashboard-nav > h3 {
        text-align: center;
    }
    #dashboard-nav ul {
        margin: 20px auto 20px auto;
    }
    .dashboard-display {
        width: 100%;
    }
    .stats-main {
        justify-content: center;
        overflow: visible;
    }
    .stats-header {
        height: 100px;
    }
    .profilepic {
        width: 50px;
        height: 50px;
    }
}
.list-stat {
    border-radius: 4px;
    background: white;
    width: 100%;
    margin: 10px;
    padding: 30px;
}
.list-stat > span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    color: #95a5a6;
}