/* Normalize CSS */
* {
    margin: 0;
    padding: 0;
    border-width: 0.3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}

body {
    height: 100vh;
}

.body-container {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

#header #logo {
    width: 40%;
    margin: auto 0 auto 20px;
}

#header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#header ul li {
    margin: auto 20px auto 0;
}

#navigation {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

#mast {
    display: flex;
    height: 90vh;
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.try-button {
    margin: auto;
    width: 300px;
    height: 100px;
    background: #2ecc71;
    display: flex;
    cursor: pointer;
}

.try-button:hover {
    background: #27ae60;
}

.try-button p {
    margin: auto;
    display: block;
    color: white;
    font-size: 1.5em;
}

#getstarted {
    /*display: none;*/
    position: fixed;
    border-radius: 5px;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
}

#reginner {
    width: 500px;
    background: white;
    height: 300px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#pick {
    border-bottom: 1px solid #bdc3c7;
    height: 15%;
    display: flex;
}

#pick ul {
    display: flex;
    width: 100%;
    list-style: none;
    margin: auto;
}

#pick ul li {
    width: 50%;
    padding: 10px;
    cursor: pointer;
}

#pick ul li:first-child {
    border-right: 1px solid #bdc3c7;
}

input {
    border-radius: 3px;
    border: 1px solid black;
    padding: 10px;
}

#regorlog {
    height: 85%;
}