/* Normalize CSS */
* {
    margin: 0;
    padding: 0;
    border-width: 0.3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}

body {
    height: 100vh;
}

.body-container {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

#header #logo {
    width: 40%;
}

#header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#header ul li {
    margin: auto 20px auto 0;
}

#navigation {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

#mast {
    display: flex;
    height: 90vh;
}

#mast > img {
    -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
    backdrop-filter: blur(5px); /* No one supports non prefixed yet */
}

.try-button {
    margin: auto;
    width: 300px;
    height: 100px;
    background: #2ecc71;
    display: flex;
    cursor: pointer;
}

.try-button p {
    margin: auto;
    display: block;
    color: white;
}